.newest-articles {
	max-width: var(--test-site-max-width);
	margin: 0 auto 25px;
	padding: 25px 0 0;

	.newest-header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		h2 {
			font-size: var(--test-font-size-28);
			font-weight: var(--test-font-weight-normal);
			font-family: var(--test-font-family-din-2014);
			color: var(--test-color-414755);
			padding-left: 5px;

			@media only screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 10px;
			}
		}

		a {
			letter-spacing: var(--test-character-spacing-0-15);
			color: var(--test-color-af0b2b);
			font-weight: var(--test-font-weight-normal);
			text-decoration: none;
			font-size: var(--test-font-size-15);

			svg {

				path {
					fill: var(--test-color-af0b2b);
				}
			}

			&:hover {
				color: var(--test-color-74081d) !important;

				svg {

					path {
						fill: var(--test-color-74081d);
					}
				}
			}

			@media only screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 25px;
				padding-left: 10px;
			}
		}
	}

	.newest-items {
		display: flex;
		flex-wrap: wrap;

		.newest-item {
			width: 25%;
			background: var(--test-color-ffffff);
			border-left: 5px solid var(--test-color-f3f5f6);
			border-right: 5px solid var(--test-color-f3f5f6);
			padding: 15px;
			margin-bottom: 15px;

			.newest-tags {
				margin-bottom: 15px;

				a {
					background: var(--test-color-f3f5f6) 0% 0% no-repeat padding-box;
					border-radius: 16px;
					padding: 5px 15px;
					text-decoration: none;
					letter-spacing: var(--test-character-spacing-0-15);
					color: var(--test-color-68707c);
					font-size: var(--test-font-size-15);
					margin: 0 10px 10px 0;
					display: inline-block;
				}
			}

			.newest-category {

				a {
					text-decoration: none;
					color: var(--test-color-af0b2b);
					font-size: var(--test-font-size-15);

					&:hover {
						color: var(--test-color-74081d) !important;
					}
				}
			}

			.newest-date {
				color: var(--test-color-8c97a8);
				font-size: var(--test-font-size-15);
				letter-spacing: var(--test-character-spacing-0-15);
			}

			.newest-title {
				font-size: var(--test-font-size-22);
				overflow: hidden;
				font-weight: var(--test-font-weight-bold);
				color: var(--test-color-414755);
			}

			.newest-excerpt {
				font-size: var(--test-font-size-15);
				letter-spacing: var(--test-character-spacing-0-15);
				color: var(--test-color-68707c);
				overflow: hidden;
			}

			.newest-link {

				a {
					text-decoration: none;
					color: var(--test-color-af0b2b);
					font-size: var(--test-font-size-15);
					letter-spacing: var(--test-character-spacing-0-15);

					svg {

						path {
							fill: var(--test-color-af0b2b);
						}
					}

					&:hover {
						color: var(--test-color-74081d) !important;

						svg {

							path {
								fill: var(--test-color-74081d);
							}
						}
					}
				}
			}

			@media only screen and (max-width: 980px) {
				width: 33.3333333%;
			}

			@media only screen and (max-width: 768px) {
				width: 50%;
			}

			@media only screen and (max-width: 600px) {
				width: 100%;
			}
		}
	}
}
