.slider-block {
	display: flex;
	flex-wrap: wrap;
	max-width: var(--ant-studio-site-max-width);
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 0;
	background: var(--ant-studio-color-ffffff);

	.slider-image {
		width: 65%;
		padding-right: 20px;

		img {
			width: 100%;
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 1;
		}
	}

	.slider-text {
		width: 35%;

		.slider-text-inner {
			color: #ad102f;
			font-weight: var(--ant-studio-font-weight-bold);
			font-size: var(--ant-studio-font-size-22);
			font-family: var(--ant-studio-font-family-din-2014);
			display: none;
			border-left: 2px solid;
			padding: 20px 0 20px 15px;
			line-height: var(--ant-studio-line-spacing-25);

			&.active {
				display: block;
			}

			br {
				margin: 5px 0;
				display: block;
				content: " ";
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 4;
			padding-left: 20px;
			margin-bottom: 15px;
		}
	}

	.slider-info {
		width: 90%;
		text-align: center;
		font-size: var(--ant-studio-font-size-22);
		font-weight: var(--ant-studio-font-weight-bold);
		font-family: var(--ant-studio-font-family-din-2014);
		color: #722a2d;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		.slider-info-inner {
			display: flex;
			align-items: center;

			svg {

				path {
					fill: #722a2d;
				}
			}

			span {
				margin-left: 10px;
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 3;
			justify-content: flex-start;
			padding: 0 20px;
		}
	}

	.slider-more-button {
		margin-bottom: 15px;

		a {
			padding: 14px 32px;
			display: block;
			text-decoration: none;
			line-height: 1;
			font-weight: var(--ant-studio-font-weight-normal);

			&:hover {
				background: var(--ant-studio-color-74081d) !important;
			}

			@media only screen and (max-width: 768px) {
				display: inline-block;
				margin-left: 20px;
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 5;
		}
	}

	.slider-tabs {
		width: 100%;
		display: flex;
		justify-content: center;
		background: var(--ant-studio-color-f3f5f6);
		padding: 15px 0;

		@media only screen and (max-width: 768px) {
			display: block;
			text-align: center;
			order: 6;
		}

		.slider-tab {
			text-transform: uppercase;
			margin: 0 15px;
			color: var(--ant-studio-color-68707c);
			font-weight: var(--ant-studio-font-weight-bold);
			letter-spacing: var(--ant-studio-character-spacing-0-15);
			cursor: pointer;

			&.active {
				color: var(--ant-studio-color-af0b2b);
			}

			&:hover {
				color: var(--ant-studio-color-74081d) !important;
			}

			@media only screen and (max-width: 768px) {
				margin: 0 0 5px;
			}
		}
	}
}
