.slider-block {
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 0;
	background: #fff;

	.slider-image {
		width: 65%;
		padding-right: 20px;

		img {
			width: 100%;
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 1;
		}
	}

	.slider-text {
		width: 35%;

		.slider-text-inner {
			color: #ad102f;
			font-weight: 700;
			font-size: 22px;
			display: none;
			border-left: 2px solid;
			padding: 15px 0 15px 15px;
			line-height: 1.3;

			&.active {
				display: block;
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 4;
			padding-left: 20px;
			margin-bottom: 15px;
		}
	}

	.slider-info {
		width: 90%;
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		color: #722a2d;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		i {
			margin-right: 10px;
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 3;
			justify-content: flex-start;
			padding: 0 20px;
		}
	}

	.slider-more-button {
		margin-bottom: 15px;

		a {
			padding: 14px 32px;
			display: block;
			text-decoration: none;
			line-height: 1;
			font-weight: 500;

			&:hover {
				background: #74081d !important;
			}

			@media only screen and (max-width: 768px) {
				display: inline-block;
				margin-left: 20px;
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 5;
		}
	}

	.slider-tabs {
		width: 100%;
		display: flex;
		justify-content: center;
		background: #f3f5f6;
		padding: 15px 0;

		@media only screen and (max-width: 768px) {
			display: block;
			text-align: center;
			order: 6;
		}

		.slider-tab {
			text-transform: uppercase;
			margin: 0 15px;
			color: #68707c;
			font-weight: 700;
			letter-spacing: 0.15px;
			cursor: pointer;

			&.active {
				color: #af0b2b;
			}

			&:hover {
				color: #74081d !important;
			}

			@media only screen and (max-width: 768px) {
				margin: 0 0 5px;
			}
		}
	}
}
