.contact-form-container {

	.contact-form {

		#contact {

			.rich-text {
				background: transparent;
				border: none;
				border-bottom: 1px solid var(--test-color-ffffff);
				width: 100%;
				padding-bottom: 9px;
				margin-bottom: 10px;
				letter-spacing: 0.15px;
				color: var(--test-color-ffffff);
				opacity: 1;
				outline: 0;
				opacity: 0.6;
			}

			.g-recaptcha {
				.rich-text {
					border-bottom: none !important;
					opacity: 1;
					margin-bottom: 0px;
					padding-bottom: 0px;
				}	
			}
		}
	}
}
