
.header-block {
	margin: 10px auto 35px !important;
	max-width: var(--test-site-max-width);
	width: 100%;
	height: 150px;
	margin: 0 auto;

	.small-logo {
		display: none !important;
	}

	.block-editor-block-list__layout {
		display: flex;
	}

	.header-nav {

		.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
		}

		.header-top-menu {
			padding: 0 0 15px;
			width: 100%;
			justify-content: flex-end;
		}

		.header-bottom-menu {
			width: 100%;
			justify-content: flex-end;
		}
	}

}
