.header-block {
	color: var(--test-color-ffffff);

	.header-block-container {
		max-width: var(--test-site-max-width);
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;

		@media only screen and (max-width: 768px) {
			flex-wrap: wrap;
			justify-content: space-around;
			position: relative;
		}
	}

	&:not(.sticked) {
		padding-top: 0 !important;
		margin: 20px 0 40px;
	}

	&.sticked {
		background: var(--test-color-ffffff);
		position: sticky;
		top: 0;

		.header-block-container {
			padding: 10px 0;
		}

		.logo-area {

			.logo {
				display: none;
			}

			.small-logo {
				display: block;
			}
		}

		.header-nav {
			justify-content: center;
		}

		.header-top-menu {
			display: none !important;
		}
	}

	.logo-area {

		.small-logo {
			display: none;
		}
	}

	.header-mobile-menu {
		display: none;
		background: var(--test-color-414755);
		text-align: center;
		cursor: pointer;
		width: 40px;
		height: 40px;

		@media only screen and (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
		}

		svg {

			path {
				fill: var(--test-color-ffffff);
			}
		}
	}

	.header-nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-left: 25px;

		@media only screen and (max-width: 768px) {
			padding-left: 0;
		}

		.header-top-menu {
			display: flex;
			padding: 0 0 20px;

			@media only screen and (max-width: 768px) {
				width: 100%;
				justify-content: center;
				margin-top: 25px;
			}

			@media only screen and (max-width: 400px) {
				flex-wrap: wrap;
			}

			.header-search {
				display: flex;
				margin-right: 65px;
				padding-top: 10px;

				input {
					color: var(--test-color-68707c);
					padding: 0 12px;
					height: 36px;
					border: solid 1px var(--test-color-ffffff);
					font-size: var(--test-font-size-15);
					background: var(--test-color-ffffff) 0% 0% no-repeat padding-box;
					outline: 0;

					&::placeholder {
						letter-spacing: var(--test-character-spacing-0-15);
						color: var(--test-color-68707c);
						font-size: var(--test-font-size-15);
					}
				}

				button {
					width: 36px;
					height: 36px;
					background: var(--test-color-414755);
					border: solid 1px var(--test-color-414755);
					display: flex;
					align-items: center;
					justify-content: center;

					svg {

						path {
							fill: var(--test-color-ffffff);
						}
					}
				}

				@media only screen and (max-width: 768px) {
					display: none;
				}
			}

			.header-contact {
				margin-right: 65px;

				.header-contact-title {
					font-size: var(--test-font-size-15);
					letter-spacing: var(--test-character-spacing-0-15);
					color: var(--test-color-68707c);
					font-weight: var(--test-font-weight-normal);
				}

				.header-contact-phone {
					display: block;
					text-decoration: none;
					font-family: var(--test-font-family-din-2014);
					font-size: var(--test-font-size-18);
					font-weight: var(--test-font-weight-bold);

					&:hover {
						color: var(--test-color-74081d) !important;
					}
				}

				@media only screen and (max-width: 400px) {
					width: 100%;
					margin-right: 0;
					text-align: center;
					margin-bottom: 25px;
				}
			}

			.header-login {

				.header-login-sub-title {
					letter-spacing: var(--test-character-spacing-0-15);
					font-size: var(--test-font-size-15);
					color: var(--test-color-68707c);
				}

				.header-login-title {
					display: flex;
					align-items: center;

					span {
						font-weight: var(--test-font-weight-bold);
						margin-right: 10px;
						color: var(--test-color-414755);
						font-size: var(--test-font-size-18);
						font-family: var(--test-font-family-din-2014);
					}

					svg {

						path {
							fill: var(--test-color-414755);
						}
					}
				}

				.header-login-link {
					text-decoration: none;
					letter-spacing: var(--test-character-spacing-0-15);
					color: var(--test-color-af0b2b);
					font-weight: var(--test-font-weight-normal);
					display: flex;
					align-items: center;

					&:hover {
						color: var(--test-color-74081d) !important;

						svg {

							path {
								fill: var(--test-color-74081d);
							}
						}
					}
				}
			}
		}

		.header-bottom-menu {
			display: flex;
			justify-content: space-between;

			.wp-block-navigation {
				margin-right: 25px;

				.wp-block-navigation-item__content {
					margin-right: 5px;
					font-size: var(--test-font-size-16);
					font-weight: var(--test-font-weight-bold);
					text-decoration: none;
					color: var(--test-color-414755);

					&:hover {
						color: var(--test-color-74081d);
					}
				}

				.wp-block-navigation__submenu-icon {
					color: var(--test-color-414755);
				}

				.wp-block-navigation__submenu-container {

					.wp-block-navigation-item__content {
						font-weight: var(--test-font-weight-normal);
					}
				}
			}

			.header-special-button a {
				padding: 14px 32px;
				display: block;
				text-decoration: none;
				line-height: 1;
				font-weight: var(--test-font-weight-normal);

				&:hover {
					background: var(--test-color-74081d) !important;
				}
			}

			@media only screen and (max-width: 768px) {
				display: none;

				&.open-menu {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					background: var(--test-color-ffffff);
					padding: 20px;

					.wp-block-navigation {
						width: 100%;
						margin-right: 0;
						margin-bottom: 15px;

						.wp-block-navigation-submenu__toggle,
						.wp-block-navigation__responsive-container-close,
						.wp-block-navigation__responsive-container-open {
							display: none;
						}

						.wp-block-navigation__container {
							display: block;
						}

						.wp-block-navigation-item {
							display: block;
						}

						.wp-block-navigation-item__content {
							display: block;
							width: 100%;
						}

						.wp-block-navigation__submenu-container {
							display: block;
							height: auto;
							position: static;
							opacity: 1;
							visibility: visible;
							width: auto;
							margin: 10px 0 10px 15px;
							border: none;

							li {

								&::before {
									content: "\00BB";
									display: inline;
								}

								.wp-block-navigation-item__content {
									display: inline !important;
									width: 100%;
								}
							}
						}

						.wp-block-navigation__responsive-container {
							display: block;
							height: auto;
							position: static;
							opacity: 1;
							visibility: visible;
							width: auto;
							margin: 10px 0 10px 15px;
							border: none;
						}

					}
				}
			}
		}
	}

}
